Lab | Customer Analysis Round 2
For this lab, we will be using the marketing_customer_analysis.csv file that you can find in the files_for_lab folder. Check out the files_for_lab/about.md to get more information if you are using the Online Excel.

Note: For the next labs we will be using the same data file. Please save the code, so that you can re-use it later in the labs following this lab.

Dealing with the data
Show the dataframe shape.
Standardize header names.
Which columns are numerical?
Which columns are categorical?
Check and deal with NaN values.
Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.
BONUS: Put all the previously mentioned data transformations into a function.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Usuari\Documents\IRONHACK\Work\Labs\01 semana\2023-03-09\marketing_customer_analysis.csv")

In [4]:
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [6]:
forma = df.shape
forma

(10910, 26)

In [7]:


# Convertir nombres de columna: minúsculas, reemplazar espacios con guiones bajos, eliminar caracteres especiales
df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace(r'[^a-zA-Z0-9_]', '')

In [8]:
df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [9]:
# Contar el número de NaN en cada columna
print(df.isna().sum())

unnamed:_0                          0
customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employmentstatus                    0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [10]:
df_sin_nan = df.dropna()

In [11]:
df_sin_nan

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
10,10,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
13,13,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
16,16,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10902,10902,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
10903,10903,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
10904,10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [12]:
df = df_sin_nan

In [13]:
# Paso 1: Convertir la columna 'fecha' a datetime si aún no lo es
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])



# Paso 2: Extraer el mes y guardarlo en una nueva columna
df['month'] = df['effective_to_date'].dt.month

# Paso 3: Filtrar los datos para el primer trimestre
df_primer_trimestre = df[df['month'].isin([1, 2, 3])]

# Mostrando el resultado
print(df_primer_trimestre)

       unnamed:_0 customer       state  customer_lifetime_value response  \
2               2  LZ68649  Washington             14947.917300       No
3               3  XL78013      Oregon             22332.439460      Yes
10             10  HG93801     Arizona              5154.764074       No
13             13  KR82385  California              5454.587929       No
16             16  FH51383  California              5326.677654       No
...           ...      ...         ...                      ...      ...
10902       10902  PP30874  California              3579.023825       No
10903       10903  SU71163     Arizona              2771.663013       No
10904       10904  QI63521      Nevada             19228.463620       No
10906       10906  KX53892      Oregon              5259.444853       No
10908       10908  WA60547  California             11971.977650       No

       coverage             education effective_to_date employmentstatus  \
2         Basic              Bachelor        2011-02-10         Employed
3      Extended               College        2011-01-11         Employed
10     Extended  High School or Below        2011-01-02         Employed
13        Basic                Master        2011-01-26         Employed
16        Basic  High School or Below        2011-02-07         Employed
...         ...                   ...               ...              ...
10902  Extended  High School or Below        2011-01-24         Employed
10903     Basic               College        2011-01-07         Employed
10904     Basic  High School or Below        2011-02-24       Unemployed
10906     Basic               College        2011-01-06         Employed
10908   Premium               College        2011-02-13         Employed

      gender  ...  number_of_policies     policy_type        policy  \
2          M  ...                   2   Personal Auto   Personal L3
3          M  ...                   2  Corporate Auto  Corporate L3
10         M  ...                   1  Corporate Auto  Corporate L3
13         M  ...                   4   Personal Auto   Personal L3
16         F  ...                   6   Personal Auto   Personal L3
...      ...  ...                 ...             ...           ...
10902      F  ...                   1   Personal Auto   Personal L2
10903      M  ...                   1   Personal Auto   Personal L2
10904      M  ...                   2   Personal Auto   Personal L2
10906      F  ...                   6   Personal Auto   Personal L3
10908      F  ...                   6   Personal Auto   Personal L1

       renew_offer_type  sales_channel  total_claim_amount  vehicle_class  \
2                Offer3    Call Center          480.000000            SUV
3                Offer2         Branch          484.013411  Four-Door Car
10               Offer2         Branch          442.521087            SUV
13               Offer4    Call Center          331.200000   Two-Door Car
16               Offer4    Call Center          300.528579   Two-Door Car
...                 ...            ...                 ...            ...
10902            Offer2          Agent          655.200000  Four-Door Car
10903            Offer2         Branch          355.200000   Two-Door Car
10904            Offer1         Branch          897.600000     Luxury SUV
10906            Offer2         Branch          273.018929  Four-Door Car
10908            Offer1         Branch          618.288849            SUV

       vehicle_size vehicle_type month
2           Medsize            A     2
3           Medsize            A     1
10            Large            A     1
13          Medsize            A     1
16            Large            A     2
...             ...          ...   ...
10902       Medsize            A     1
10903       Medsize            A     1
10904       Medsize            A     2
10906       Medsize            A     1
10908       Medsize            A     2

[4543 rows x 27 columns]

C:\Users\Usuari\AppData\Local\Temp\ipykernel_17944\433045524.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
C:\Users\Usuari\AppData\Local\Temp\ipykernel_17944\433045524.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
C:\Users\Usuari\AppData\Local\Temp\ipykernel_17944\433045524.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['effective_to_date'].dt.month

In [14]:
import pandas as pd
import numpy as np

def transformar_dataframe(df):
    # Mostrar la forma del DataFrame
    print("Forma inicial del DataFrame:", df.shape)
    
    # Eliminar filas con valores NaN
    df = df.dropna()
    print("Forma del DataFrame después de eliminar NaN:", df.shape)
    
    # Estandarizar los nombres de las cabeceras
    df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace(r'[^a-zA-Z0-9_]', '')
    
    # Identificar y mostrar las columnas numéricas y categóricas
    columnas_numericas = df.select_dtypes(include=[np.number]).columns.tolist()
    columnas_categoricas = df.select_dtypes(exclude=[np.number]).columns.tolist()
    print("Columnas numéricas:", columnas_numericas)
    print("Columnas categóricas:", columnas_categoricas)
    
    # Convertir la columna 'effective_to_date' al formato datetime, extraer el mes
    if 'effective_to_date' in df.columns:
        df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
        df['mes'] = df['effective_to_date'].dt.month
        # Filtrar por el primer trimestre
        df = df[df['mes'].isin([1, 2, 3])]
    else:
        print("La columna 'effective_to_date' no existe en el DataFrame.")
    
    # Retornar el DataFrame transformado
    return df

# Supongamos que tienes un DataFrame llamado df para transformar
# df_transformado = transformar_dataframe(df)
# print("Forma final del DataFrame:", df_transformado.shape)